body {
	font-family: 'Gloria Hallelujah', Courier;
}
a {
	text-decoration: none;
	color:black;
}

div.social-media {
	background-size:cover;
	margin:auto;
	display:inline-block;
	border:solid 1px #aaa;
	border-radius:.3em;
	text-align:right;
	box-shadow:0px 0px 5px black inset;
}
div.email-icon {
	background-image:url(../imgs/sm-email.PNG);
}
div.twitter-icon {
	background-image:url(../imgs/sm-twitter.PNG);
}
div.facebook-icon {
	background-image:url(../imgs/sm-facebook.PNG);
}
div.github-icon {
	background-image:url(../imgs/sm-github.PNG);
}
div.flickr-icon {
	background-image:url(../imgs/sm-flickr.PNG);
}
div.site-icon {
	background-image:url(../imgs/sm-site.PNG);
}
div.vimeo-icon {
	background-image:url(../imgs/sm-vimeo.PNG);
}
div.youtube-icon {
	background-image:url(../imgs/sm-youtube.PNG);
}
/*********************************************  SIDEBAR  */

div#right-bar {
	height:100%;
	width:33%;
	top:0;
	right:0;
	color:#aaa;
	position:fixed;
	text-align:right;
	border-left:solid 1px #ccc;
	box-shadow:2px 0px 10px #ccc inset;
}
div#right-bar div#bar-top {
	position:absolute;
	top:1em;
	right:1em;
}
div#right-bar div#bar-bottom {
	position:absolute;
	/*width:85%;*/
	bottom:1em;
	right:1em;
}
div#right-bar p#about {
	font-size:1.2em;
	text-align:justify;
	font-family:Courier;
	margin:0;
	padding-left:1.5em;
}
div#right-bar h1#name {
	margin: 0em;
	font-size:3.2em;
}
div#right-bar div.social-media {
	height:4em;
	width:4em;
	margin:0em .5em 0em 1.5em;
	opacity:.7;
}
div#right-bar a:hover div.social-media {
	opacity:1;
}  

div#right-bar ul#nav {
	font-size:2em;
	/*font-family:Courier;*/
	list-style-type:none;
}
div#right-bar ul#nav a li, div#right-bar h1#name a {
	color:#aaa;
}
div#right-bar ul#nav a li {
	text-decoration:none;
	padding:.2em 0em;
}
div#right-bar ul#nav a:hover li, div#right-bar h1#name a:hover {
	color:black;
}

/*********************************************  PORTFOLIO/HOME PAGE  */

div.portfolio-page {
	width:64%;
	height:100%;
	text-align:left;
}
div.portfolio-page .project-blob {
	height:13em;
	width:13em;
	border-radius:2em;
	background-size:cover;
	display:inline-block;
}
div.portfolio-page .project-title {
	text-align:center;
	color:black;
	margin-top:11em;
	font-size:1.2em;
	font-weight:bold;
}

/*********************************************  PROJECT PAGE  */

div.project-page {
	width:64%;
	margin:1em;
}
div.project-page div.social-media {
	height:2em;
	width:2em;
}
div.project-page .project-title, .project-when {
	margin:0;
	padding:0;
}
div.project-page div.project-title-zone {
	width:65%;
	text-align:left;
	display:inline-block;
	margin-left:1em;
}
div.project-page div.project-link-zone {
	width:30%;
	text-align:right;
	display:inline-block;
}
div.project-page div.feature-img {
	border:solid 1px black;
	border-radius:1em;
	box-shadow:0px 0px 5px black inset;
	width:100%;
	height:20em;
	margin-top:1em;
}
div.project-page div.feature-embed {
	width:100%;
	height:40em;
}
div.project-page div.project-description {
	font-family:Courier;
	font-size:1.6em;
	text-align:justify;
	padding:0 1em;
}
div.project-page .project-when {
	font-family:Courier;
}

div.project-page div.feature-img.sprout {
    background-position: 0% 45%;
}
div.project-page div.feature-img.phs {
    background-position: 0% 46%;
}
div.project-page div.feature-img.soh {
    background-position: 0% 50%;
}
div.project-page div.feature-img.ghost-town {
    background-position: 0% 20%;
}
div.project-page div.feature-img.boycott {
    background-position: 0% 40%;
}
div.project-page div.feature-img.babushkas {
    background-position: 0% 30%;
}
div.project-page div.feature-img.second-line {
    background-position: 0% 80%;
}
div.project-page div.feature-img.lost-things {
    background-position: 0% 15%;
}
div.project-page div.feature-img.permanence {
    background-position: 0% 15%;
}
div.project-page div.feature-img.fourbytwo {
    background-position: 0% -10%;
}
div.project-page div.feature-img.mushrooms {
    background-position: 0% 100%;
}