body {
	font-family: 'Gloria Hallelujah', Courier;
}
a {
	text-decoration: none;
	color:black;
}
iframe {
	border:none;
}

div.social-media {
	background-size:cover;
	margin:auto;
	display:inline-block;
	border:solid 1px #666;
	border-radius:.3em;
	text-align:right;
	box-shadow:0px 0px 4px #666 inset;
}
div.email-icon {
	background-image:url(../imgs/social-media/sm-email.PNG);
}
div.twitter-icon {
	background-image:url(../imgs/social-media/sm-twitter.PNG);
}
div.facebook-icon {
	background-image:url(../imgs/social-media/sm-facebook.PNG);
}
div.github-icon {
	background-image:url(../imgs/social-media/sm-github.PNG);
}
div.flickr-icon {
	background-image:url(../imgs/social-media/sm-flickr.PNG);
}
div.site-icon {
	background-image:url(../imgs/social-media/sm-site.PNG);
}
div.vimeo-icon {
	background-image:url(../imgs/social-media/sm-vimeo.PNG);
}
div.youtube-icon {
	background-image:url(../imgs/social-media/sm-youtube.PNG);
}
/*********************************************  SIDEBAR  */

div#right-bar {
	height:100%;
	width:34%;
	top:0;
	right:0;
	color:#666;
	position:fixed;
	text-align:right;
	border-left:solid 1px #666;
	box-shadow:2px 0px 6px #666 inset;
}
/*div#right-bar div#bar-top {
	position:absolute;
	top:1em;
	right:1em;
}*/
div#right-bar div#bar-bottom {
	position:absolute;
	width:91%;
	bottom:1em;
	right:1em;
}
div#right-bar p#about {
	font-size:1.3em;
	text-align:justify;
	font-family:Courier;
	margin:0;
	padding-left:1.5em;
}
div#right-bar h1#name {
	margin:0em 0em .1em 0em;
	font-size:3.1em;
}
div#right-bar div.social-media-wrapper {
	margin:3.5em 0em 1.5em 0em;
}
div#right-bar div.social-media {
	height:4em;
	width:4em;
	margin:auto;
	opacity:.8;
}
div#right-bar a:hover div.social-media {
	opacity:1;
}  

div#right-bar ul#nav {
	font-size:2em;
	list-style-type:none;
}
div#right-bar ul#nav a li, div#right-bar h1#name a {
	color:#666;
}
div#right-bar ul#nav a li {
	text-decoration:none;
	padding:0;
	margin:0;
}
div#right-bar ul#nav a:hover li, div#right-bar h1#name a:hover {
	color:black;
}
div#right-bar ul#media-nav, div#right-bar h1#media-name {
	display:none;
}

@media (max-width: 600px) {
	div#right-bar, div#right-bar div#bar-bottom {
		position:relative;
		box-shadow:none;
		text-align:center;
		border:none;
		width:100%;
	}
	div#right-bar h1#name {
		display:none;
	}
	div#right-bar h1#media-name {
		display:block;
		font-size:2em;
		margin:auto;

	}
	div#right-bar div.social-media-wrapper {
		margin:1em 0em;
		text-align:center;
	} 
	div#right-bar div.social-media-wrapper .social-media {
		margin:auto;
	}
	div#right-bar ul#nav {
		display:none;
	}
	div#right-bar ul#media-nav {
		display:block;
		font-size:2em;
		list-style-type:none;
	}
}

/*********************************************  PORTFOLIO/HOME PAGE  */

div.portfolio-page {
	position:absolute;
	left:2.5em;
	width:64%;
	height:100%;
	text-align:left;
}
div.portfolio-page .project-blob {
	height:13em;
	width:13em;
	border-radius:2em;
	background-size:cover;
	display:inline-block;
	margin-bottom:3.5em;
}
div.portfolio-page .project-title {
	text-align:center;
	color:black;
	margin-top:11em;
	font-size:1.2em;
	font-weight:bold;
}

@media (max-width: 600px) {
	div.portfolio-page {
		width:100%;
		left:0;
		position:relative;
	}
	div.portfolio-page .project-blob {
		margin:auto;
		display:block;
	}

}

/*********************************************  PROJECT PAGE  */

div.project-page {
	position:absolute;
	left:2.5em;
	width:58%;
	margin:1em;
}
div.project-page div.social-media {
	height:2em;
	width:2em;
	margin-bottom:-.2em;
}
div.project-page .project-title, .project-when {
	margin:0;
	padding:0;
}
div.project-page div.project-title-zone {
	width:65%;
	text-align:left;
	display:inline-block;
	margin-left:1em;
}
div.project-page div.project-link-zone {
	width:30%;
	text-align:right;
	display:inline-block;
}
div.project-page div.feature-img {
	border:solid 1px black;
	/*border-radius:1em;*/
	box-shadow:0px 0px 5px black inset;
	width:100%;
	height:20em;
	margin-top:1em;
}
div.project-page div.feature-embed {
	width:100%;
	height:30em;
	border:solid 1px black;
}
div.project-page div.project-description {
	font-family:Courier;
	font-size:1.6em;
	text-align:justify;
	/*padding:0 1em;*/
}
div.project-page .project-when {
	font-family:Courier;
	margin:-.5em 0em;
	color:#666;
}

div.project-page div.feature-img.sprout {
    background-position: 0% 45%;
}
div.project-page div.feature-img.phs {
    background-position: 0% 46%;
}
div.project-page div.feature-img.soh {
    background-position: 0% 50%;
}
div.project-page div.feature-img.ghost-town {
    background-position: 0% 20%;
}
div.project-page div.feature-img.boycott {
    background-position: 0% 40%;
}
div.project-page div.feature-img.babushkas {
    background-position: 0% 30%;
}
div.project-page div.feature-img.second-line {
    background-position: 0% 80%;
}
div.project-page div.feature-img.lost-things {
    background-position: 0% 15%;
}
div.project-page div.feature-img.permanence {
    background-position: 0% 15%;
}
div.project-page div.feature-img.fourbytwo {
    background-position: 0% -10%;
}
div.project-page div.feature-img.mushrooms {
    background-position: 0% 100%;
}

@media (max-width: 600px) {
	.page-content, .wrapper, div.project-page {
		position:relative;
		text-align:center;
		width:100%;
		margin:0;
		padding:0;
		left:0;
	}
	div.project-page div.project-description {
		font-size:1.2em;
	}
	div.project-page div.project-title-zone, 
	div.project-page div.project-link-zone {
		text-align:center;
		width:100%;
		display:block;
		margin:1em;
	}
}

/*********************************************  NOTEPAD PAGE  */
.galleria {
	height:30em;
	width:100%;
	background:#444;
}
/*********************************************  NOTEPAD PAGE  */
div.notepad-page {
	width:64%;
	height:1000px;
}



/*********************************************  MOBILE READY  */

