<div id="right-bar">

	<div id="bar-bottom">

		<h1 id="media-name"><a href="{{site.baseurl}}">shaunalynn duffy</a></h1>

		<ul id="nav">
			<a href="{{site.baseurl}}notepad"><li>NOTEPAD</li></a>
			<a href="{{site.baseurl}}"><li>PROJECTS</li></a>
		</ul>

		<div class="social-media-wrapper">
			<a href="mailto:{{site.email}}"><div class="email-icon social-media"> </div></a>
			<a href="http://twitter.com/{{site.twitter_username}}"><div class="twitter-icon social-media"> </div></a>
			<a href="http://facebook.com/{{site.facebook_username}}"><div class="facebook-icon social-media"> </div></a>
			<a href="http://github.com/{{site.github_username}}"><div class="github-icon social-media"> </div></a>
		</div>
		<h1 id="name"><a href="{{site.baseurl}}">shaunalynn duffy</a></h1>

		<p id="about">Welcome to my corner of the internet. I live, work, and play around Somerville, MA. I love to teach, learn, play brass music, write poetry, build digital things, and bicycle around town.</p>

		<ul id="media-nav">
			<a href="{{site.baseurl}}notepad"><li>NOTEPAD</li></a>
			<a href="{{site.baseurl}}"><li>PROJECTS</li></a>
		</ul>

	</div>

</div>