<div id="right-bar">

	<div id="nav">
		<ul>
			<a href="#"><li>PROJECTS</li></a>
			<a href="#"><li>NOTEPAD</li></a>
			<a href="#"><li>ABOUT</li></a>
		</ul>
	</div>

	<div id="logotype">
		<a href="mailto:{{site.email}}"><div class="email-icon social-media"> </div></a>
		<a href="http://twitter.com/{{site.twitter_username}}"><div class="twitter-icon social-media"> </div></a>
		<a href="http://facebook.com/{{site.facebook_username}}"><div class="facebook-icon social-media"> </div></a>
		<a href="http://github.com/{{site.github_username}}"><div class="github-icon social-media"> </div></a>
		<a href="{{site.baseurl}}"><h1>shaunalynn<br>duffy</h1></a>
	</div>
</div>